/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behaviour: auto !important;
  }
}

/* Variables */
:root {
  /* 1. Colores */
  --black: #000000;
  --white: #ffffff;
  /* 2. Tipografía */
  --font-sans: sans-serif;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-fluid-1: clamp(1rem, 4vw, 1.5rem);
  --font-size-fluid-2: clamp(1.5rem, 6vw, 2.5rem);
  --font-size-fluid-3: clamp(2rem, 9vw, 3.5rem);
  /* 3. Layouts */
  --size-mobile: 414px;
  --size-desktop: 1440px;
}

/* Base */
body {
  font-family: var(--font-sans);
  background-color: var(--white);
  color: var(--black);
}

/* Home */
.home {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
}
/* Menu HAMBURGUESA y contacto*/
.menu {
  display: flex;
  justify-items: center;
  gap: 30px;
  padding: 20px;
}
.menu li:nth-child(2){
 margin-left: auto;
}
/* Logo */
.logo {
  font-weight: 80;
  padding: 1rem;
}
/* Portafolio */
.portafolio {
  /* font-size: 145px;
  text-transform: uppercase;
  margin-top: auto; */
  font-size: 190px;
  text-transform: uppercase;
  margin-top: auto;
  line-height: 1.2;
  text-align: center;
  margin-block-end: 55px;
  border-bottom: 2px solid black;
}
.proyecto {
  display: flex;
}
.proyecto > * {
  flex: 1;
}

.contenedor {
  display: grid;
  gap: 50px;
}

.seccion {
  height: 35vh;
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  width: 100vw;
  margin: auto;
  align-items: center;
  gap: 10px;
}

.seccion div {
  height: 350px;
  width: 100%;
  background: lightgray;
  border: 2 px solid black;
  text-align: center;
  padding: 80px;
}
/* .contenedor div + div {


/* .contenedorr {
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.contenedorr div {
  height: 250px;
  width: 465px;
  background: lightgray;
  border: px solid black;
  text-align: center;
  padding: 80px;
} */

/* Proyecto individual */
.proyecto-individual .home {
  height: auto;
  display: block;
}
.proyecto-individual .portafolio {
  display: flex;
  position: relative;
  /* font-size: 145px;
  text-transform: uppercase;
  margin-top: auto; */
  font-size: 190px;
  text-transform: uppercase;
  /* margin-top: auto; */
  margin-top: 30px;
  line-height: 1;
  text-align: center;
  margin-block-end: 55px;
  border-bottom: 2px solid black;
}
.proyecto-individual .portafolio::after {
  font-size: 20px;
  content: '2002';
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.proyecto-individual .descripcion {
  max-width: 90vw;
  margin-inline: auto;
}
